   *{margin:0;
            padding:0;
            box-sizing:border-box;}
        body{
            font-family:'Poppins',sans-serif;
        line-height:1.6;
        color:#333;}
        a{
            text-decoration:none;
            color:inherit;
        }
        img{
            max-width:100%;
            display:block;}

        header{
            width:100%;
            height:80px;
            display:flex;

            justify-content:space-between;
            align-items:center;
            padding:0 20px;
            position:fixed;
            top:0;
            left:0;
            z-index:9999;
    transition: background 1.3s ease, opacity 1.3s ease, box-shadow 1.3s ease;

        }
        header.scrolled{
    background: rgba(0,0,0,0.7);
        backdrop-filter: blur(6px);

    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

        .logo{display:flex;
            align-items:center;
            gap:10px;
            font-size:26px;
            font-weight:900;
            padding:6px 14px;
            border-radius:10px;
            background:#fff;
            color:#cfb700;
        }
        .logo img{
          height:50px;
            border-radius:10px;
        }

        nav ul{
            list-style:none;
            display:flex;
            gap:10px;}
        nav ul li a{
            color: rgba(0, 0, 0, 0.7);
            padding:8px 14px;
            border-radius:20px;
            transition:0.3s;}
   
            nav ul li .active,
nav ul li a:hover {
      background: #edf034;
            color: #111;
    transform: translateY(-2px);
}



        .banner-area{
            position:relative;
        height:80vh;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align:center;
            background:url('peramids.webp') center/cover no-repeat;
        }
        .banner-area .overlay{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0.3);
            z-index:1;
        }
        .banner-content{
            position:relative;
            z-index:2;
            color:#fff;}
        .banner-content h6,.banner-content h1,.banner-content p,.banner-content .primary-btn{
            text-shadow:2px 2px 8px rgba(0,0,0,0.7);
            opacity:0;
            animation:fadeInUp 1s ease forwards;
        }
        .banner-content h6{
            animation-delay:0.2s;
        }
        .banner-content h1{
            animation-delay:0.4s;
            font-size:48px;
            margin:20px 0;}
        .banner-content p{
            animation-delay:0.6s;
            font-size:16px;
            margin-bottom:25px;
        }
        .banner-content .primary-btn{
            animation-delay:0.8s;}

        @keyframes fadeInUp{
            0%{transform:translateY(30px);
                opacity:0;}
                100%{transform:translateY(0);
                    opacity:1;}}

        .primary-btn{
            display:inline-block;
            padding:10px 25px;background:#b3a403;
            color:#fff;font-weight:500;
            text-transform:uppercase;
            transition:0.3s;}
        .primary-btn:hover{background:#edf034}

.menu-toggle{
    display:none;
    color:#fff;
    font-size:32px;
    cursor:pointer;
    z-index:10000;
}

.gallery {
  margin-top: 100px;
    gap: 20px;
    padding: 20px;
}

.gallery .item {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin: 50px;
    flex: 1 1 600px; 
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.1);
}

.gallery .item img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.gallery .item p {
    flex: 1;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

.gallery .item button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #b3a403;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.gallery .item button:hover {
    background: #edf034;
}

@media(max-width: 768px){
    .gallery .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .gallery .item img {
        width: 100%;
        max-width: 400px;
    }
}


@media(max-width: 992px){
    header{
        height: 70px;
        padding: 0 15px;
    }

    .logo{
        font-size: 20px;
    }

    nav ul{
        gap: 6px;
    }

    .banner-content h1{
        font-size: 38px;
    }
}

@media(max-width: 768px){

    header{
        padding: 10px 15px;
    }

    nav ul{
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 80px;
        background: rgba(0,0,0,0.7);
        backdrop-filter: blur(6px);
        width: 100%;
        padding: 15px 0;
        display: none; 
    }

    nav ul.show{
        display: flex;
    }

    .menu-toggle{
        display:block;
        font-size: 30px;
        cursor:pointer;
        color:white;
    }

    .banner-content h1{
        font-size: 30px;
    }

    .banner-content p{
        font-size: 14px;
        padding: 0 10px;
    }
     .gallery .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
      .gallery .item img {
        width: 100%;
        max-width: 400px;
    }
}

@media(max-width: 480px){
    .logo img{
        height: 35px;
    }

    .primary-btn{
        padding: 8px 18px;
        font-size: 14px;
    }
}

      

footer{
    background-color: #111;
    padding: 70px;
    bottom: 0%;
    align-items: center;
    text-align: center;
    border-top-left-radius: 20px;
        border-top-right-radius: 20px;

}
footer p{
    color: #f9f9f9;
    font-size: larger;
}

